#box{
    margin-top: 70px;
    margin-left: 375px;
    width: 400px;
    height:600px;
    background-color: lightcoral;
    padding: 20px;
}

#cm{

    width: 150px;
    padding:5px 20px;
    margin-top: 30px;
}
#kg{ 
    
    width: 150px;
    padding:5px 20px;
    margin-top: 30px;
}

#submit{

    width: 150px;
    padding: 15px 25px;
    margin-top: 30px;
    margin-left: 110px;
    background-color: dodgerblue;
    border: none;
    border-radius: 5px;
    color:white;
    font-weight: bolder;
}

h1,h2{
    color: slateblue;
   
}

#weightguide{

    margin-left: 65px;
    margin-right: 50px;
   
   
}
#result{
    font-size: 35px;
    margin-left: 80px;
    color: blue;
}